@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js");
@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js");

html {
  -ms-touch-action: none;
}

body {
  background: black;
  color: whitesmoke;
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow-x: hidden;
  .logo {
    padding: 30px;
  }

}

.head {
  height: 50px;
  padding: 30px;

  .imghead1 {
    padding-left: 45px;
    display: block;
    position: relative;
    float: left;
    height: 70%;
    width: 70%;
  }
  .imghead2 {
    float: right;
    margin-bottom: 15px;
  }
  .title {
    h1 {
      margin: 0;
    }
  }

}


  /* entire container, keeps perspective */

  .flip-container {
    perspective: 1000;
  }

  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper ,.flip-container.flip {

  }

  .flip-container{
    &:hover{
      .flipper{
        transform: rotateY(180deg);
      }
    }
    .flip{
      transform: rotateY(180deg);
    }

  }


  .flip-container, .front, .back {
    width: 320px;
    height: 250px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    /* flip speed goes here */
    .flipper {
      transition: 5.0s;
      transform-style: preserve-3d;
      position: relative;

      /* hide back of pane during swap */
      .front, .back {
        background: whitesmoke;
        color: black;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
      }

      /* front pane, placed above back */
      .front {
        z-index: 2;
        .task{
        background: #3FB8AF;
        margin: 5px;
      }
        /* for firefox 31 */
        transform: rotateY(0deg);
      }

      /* back, initially hidden pane */
      .back {
        background: whitesmoke;
        transform: rotateY(180deg);
      }
    }
  }










